<!DOCTYPE html>
<html>
<head><title>Application Tracker</title></head>
<body>
  <h2>Application Tracker</h2>
  <table border="1">
    <tr><th>University</th><th>Status</th></tr>
    <% tracker.universities.forEach(u => { %>
      <tr><td><%= u.name %></td><td><%= u.status %></td></tr>
    <% }) %>
  </table>
</body>
</html>
